@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo general para el Toast */
.toast-custom {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

/* Estilos para quill */
.proceso-quill ul {
  @apply list-disc pl-5 space-y-1;
}

.proceso-quill li {
  @apply text-sm;
}

/* Cambia el color de las viñetas */
.proceso-quill ul li::marker {
  color: #853a4d;
  font-size: 1.5rem;
}

/* Estilo para móviles */
@media (max-width: 768px) {
  .toast-custom {
    font-size: 14px;
    padding: 8px 15px;
    max-width: 300px;
    width: 90%;
  }
}
